body
{
    margin-left: 5%;
    margin-right: 25em;
    margin-top: 10px;
    margin-bottom: 300px;
    background-color: #DFB;
    text-align: justify;
    font-size: 120%;
}



/*
* Crosslinks menu
*/

.crosslinks
{
    text-align: left;
}

.crosslinks ul
{
    display: block;
    margin: 0px;
    padding: 0px;
}

.crosslinks ul li
{
    display: inline-block;
    margin: 3px;
    padding: 0px;

    background-color: #562;
    border-radius: 5px;
}

.crosslinks ul li a
{
    display: block;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;

    color: #FB2;
    font-family: futura, sans-serif;
    text-decoration: none;
}

.crosslinks ul li a:hover, .crosslinks ul li a:focus
{
    color: white;
}



/*
* Figures
*/

hr.figure
{
    display: none;
}

div.figure
{
    width: 23em;
    background-color: #EFC;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 30px;

    clear: right;
    float: right;
    margin-right: -24em;
    margin-top: 1em;
}

div.caption
{
    font-size: 80%;
    margin: 0px;
    padding: 20px;
    padding-top: 10px;
    text-indent: 0px;
    border-style: none;
}

div.figure img
{
    width: 70%;
    border-style: none;
}

div.figure br
{
    display: none;
}

div.figure p.noindent
{
    margin: 0px;
    padding: 0px;
    border-style: none;
}



/*
* Footer
*/

#footer
{
    float: right;
}

#footer a
{
    text-decoration: none;
    border-style: none;
}

#footer a img
{
    border-style: none;
}
