body
{
  margin: 0px;
  margin-bottom: 300px;
  background-color: #DFB;
  text-align: justify;
}

li
{
  text-align: left;
}



/*
* Menu
*/

#menu
{
  width: 16.8em;
  position: absolute;
  left: 1em;
  top: 0.5em;

  text-align: left;

  background-color: #562;
  padding-top: 1cm;
  padding-bottom: 3cm;

  border-radius: 25px;
}

#menu ul
{
  display: block;
  margin: 0px;
  padding: 0px;
}

#menu ul li
{
  display: block;
  margin: 0px;
  padding: 0px;
}

#menu ul li a
{
  display: block;
  padding: 3px;
  padding-left: 20px;

  color: #FB2;
  font-family: futura, sans-serif;
  font-size: 150%;
  text-decoration: none;
}

#menu ul li a:hover, #menu ul li a:focus
{
  color: white;
}



/*
* Main Content
*/

#main_content
{
  margin-left: 13em;
  margin-right: 10%;
  margin-top: 2em;
  padding: 50px;
  padding-top: 0px;

  background-color: #FFE;
  color: #283;

  font-family: futura, sans-serif;

border-style: solid;
border-width: 1.5cm;
border-color: #333;
border-radius: 100px;
}

#main_content p
{
}

#main_content h1
{

  margin-top: 2.5em;
  color: #B96;
  text-transform: uppercase;
}

#main_content h1:first-child
{
  margin: 0px;
  text-align: center;
  position: relative;
  top: -1.2cm;
  background-color: transparent;
}

#main_content h2
{
  margin-top: 2em;
  color: #B96;
}

#main_content h3
{
  margin-top: 1em;
  color: #B96;
}

#main_content dl
{
  padding: 5px;
}

#main_content dd, #main_content p
{
  margin-top: 10px;
}

#main_content dt
{
  margin-top: 2em;
  font-weight: bold;
}

#main_content dt:first-child
{
  margin-top: 0px;
}

#main_content blockquote
{
  border-style: solid;
  border-width: 1px 0px;
  border-color: navy;
  padding-left: 10px;
}


.release_info
{
  border-style: dotted;
  border-width: 3px;
  border-color: #FB2;

  font-size: 80%;
}

.release_info dt
{
  border-bottom-style: solid;
  border-bottom-width: 1px;
}



/*
* Footer
*/

#footer
{
  position: fixed;
  right: 5px;
  bottom: 2px;
}

#footer a
{
  text-decoration: none;
  border-style: none;
}

#footer a img
{
  border-style: none;
}



/*
* Other Elements
*/

span.cc_license_block
{
  display: block;
  margin: 5px;
  text-align: center;
}



code.terminal
{
  display: block;
  margin: 10px 5%;
  padding: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: navy;

  text-align: left;
  white-space: nowrap;

  font-family: monospace;
  font-weight: bold;
  color: maroon;
}

code.terminal .prompt
{
  font-size: 80%;
  color: olive;
}

.emphasis
{
  font-size: 120%;
  font-weight: bold;
  color: maroon;
  text-decoration: underline;
}



/*
* When Printing
*/

@media print
{
  #menu, #footer
  {
    display: none;
  }

  #main_content
  {
    margin: 0px;
  }
}


/*
* Small windows
*/

@media (max-width: 1000px)
{
  #menu, #footer
  {
    position: static;
    width: 100%;
    margin: 1px;
    padding: 5px;
    border-radius: 0px;
  }

  #main_content
  {
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 10px;
  }

  #main_content h1:first-child, #main_content h1
  {
    position: static;
    background-color: #451;
  }
}


@media (min-width: 450px) and (max-width: 1000px)
{
  #menu ul li
  {
    display: inline-block;
  }

  #menu ul li a
  {
    display: block;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #451;
    border-radius: 10px;
    margin: 2px;
  }
}

