#news
{
  position: fixed;
  top: 2px;
  right: 2px;
  width: 20%;

  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #FFD;
  border-radius: 15px;
}

#news dl
{
  margin: 1em;
}

#news dt
{
  color: #B96;
  font-size: 90%;
}

#news dd
{
  margin-left: 1em;
  font-size: 80%;
}


@media print
{
  #news
  {
    display: none;
  }
}

/*
* Small windows
*/

@media (max-width: 1000px)
{
  #news
  {
    position: static;
    width: 100%;
    margin: 1px;
    padding: 5px;
    border-radius: 0px;
  }
}

