<?php
  $layout = $this->layout();

  $layout->start = '/';
  $layout->prev = '/';
  $layout->next = 'how_to_help';

  $g_title = 'Por que o livro está sob uma licença livre?';
  $layout->description = 'O livro "Topologia Geral por Vários Ângulos" é licenciado sob uma licença livre. Você pode copiar, imprimir e distribuir livremente.';
  $layout->keywords = 'liberdade, conhecimento livre, ciência, matemática, copyright, direito autoral, monopólio';

  $this->headTitle( $g_title );
?>
<p>
  Por uma série de motivos, o sistema de direito autoral
  é um tanto quanto opressor. Seguindo a lógica que fundamenta
  tal controle sobre a produção cultural e científica,
  poderíamos muito bem concluir que as bilbiotecas, por exemplo,
  são indesejáveis e causadoras de grandes prejuízos aos
  autores. Muitos não conseguem se desprender do modelo de
  produção atual. Estes iriam de certo sugerir que as
  bibliotecas são <i>boas</i>, mas que um maior controle
  (opressão) sobre os indivíduos, sobre as copiadoras,
  as impressoras, os computadores e etc. se faz necessário.
</p>

<p>
  Paremos então para refletir:
</p>

<blockquote>
  <p>
    Por que precisamos de tanto controle?
  </p>
</blockquote>


<h2>
  Remuneração do Autor
</h2>

<p>
  O controle é o mecanismo que garantiria a remuneração do autor,
  da editora, do vendedor e outros. O controle é hoje o que,
  em teoria, viabiliza a produção cultural. Através da lei de
  direito autoral, o estado confere ao autor o
  <strong>monopólio</strong> sobre a reprodução, distribuição
  e exibição pública do seu trabalho. O direito autoral proíbe
  o cidadão comum de exercer essas atividades sem prévia autorização
  do autor. Em teoria, o direito autoral protege o autor para
  que não sejam explorados pelas editoras, gravadoras e etc.
  Mas na prática, se o autor quiser ter seu trabalho divulgado,
  terá que se submeter a essas corporações de qualquer modo.
</p>

<p>
  Os músicos, por exemplo, em geral são obrigados a repassar os
  direitos autorais para as gravadoras. E o mecanismo que servia
  para <i>protegê-lo</i> passa a ser usado contra ele mesmo!
</p>


<h2>
  Qual é a solução?
</h2>

<p>
  Eu não sei qual é a solução. Mas tenho algumas convicções:
</p>

<ul>
  <li>
    Controle é ruim.
  </li>

  <li>
    Opressão é ruim.
  </li>

  <li>
    O autor deveria ser remunerado para produzir, ao invés
    de produzir na esperança de coletar taxas posteriormente.
  </li>
</ul>

<p>
  Alguns dizem que sem esse mecanismo de opressão, os autores
  não terão incentivos para produzir. Assim, entraríamos em um
  <i>período de trevas</i>, onde ninguém mais produziria cultura,
  ou software, ou ciência. Isso é sem dúvida alguma uma grande
  bobagem. Desde que exista demanda, haverá remuneração.
  Se uma empresa precisa que um software seja desenvolvido,
  precisará, independentemente da existência ou não de uma
  lei de direito autoral, remunerar a equipe que irá desenvolvê-lo.
  Uma gravadora terá que remunerar o músico e/ou fazer um contrato
  que garanta remuneração futura. O músico precisará combinar com
  o compositor como será sua remuneração. Ou então, o músico
  pode simplesmente encomendar a composição e remunerar o
  compositor <i>no ato</i>. Tudo seria uma questão de acordo
  e benefício mútuo.
</p>


<h2>
  O Apego e o Pote-de-Ouro: egoísmo intelectual
</h2>

<p>
  Poucos realmente ganham com essa opressão. A parte mais
  difícil de eliminá-la é fazer o autor se desapegar do desejo
  de controlar o uso que se pode fazer de sua obra.
</p>

<blockquote>
  <p>
    Vão ganhar dinheiro em cima do meu trabalho?
  </p>
</blockquote>

<p>
  Sim, vão! As pessoas ganham dinheiro em cima do trabalho dos
  outros a todo momento. Todos trabalham e todos ganham.
  Imagina se um professor de economia exigisse parte do lucro
  de um de seus ex-alunos! Ou se tivéssemos que pagar uma taxa
  ao professor do colégio toda vez que utilizássemos algo que
  aprendemos com ele!
</p>

<p>
  Esse apego todo vem também da ilusão de que um dia alguém
  vai oferecer um pote-de-ouro em troca dessa música maravilhosa,
  desse software inovador ou desse livro incrível que o autor
  produziu. Há também uma esperança de se juntar um
  <i>portfólio</i>. Acumula-se uma renda mensal x derivada de
  algum <q>produto cultural</q>, e depois uma renda y de algum
  outro e assim por diante. Até que um dia o autor teria uma
  renda constante suficiente para <q>viver de renda</q>.
  O sonho de qualquer investidor... ;-)
</p>


<h2>
  Mudanças na Lei de Direitos Autorais
</h2>

<p>
  Mudanças na lei de direitos autorais seriam muito bem-vindas.
  Mas não são tão necessárias assim! Basta que cada autor torne
  sua produção livre. :-)
</p>

<p>
  Essa talvez seja a maneira mais fácil de mostrar para o mundo
  que essa idéia de que é justo, ou até mesmo natural conferir a
  uma empresa ou indivíduo um monopólio sobre cultura ou
  conhecimento é prejudicial à sociedade. Tornar o direito autoral
  obsoleto é talvez a melhor maneira de eliminá-lo.
</p>
