<?php
  $layout = $this->layout();

  $layout->start = '/';
  $layout->prev = 'source_code';
  $layout->next = 'license';

  $g_title = 'Lista de Discussão';
  $layout->description = 'Sugestões e opiniões sobre o livro Topologia Geral por Vários Ângulos podem ser enviadas para a lista de discussão.';
  $layout->keywords = 'lista de discussão, opiniões, sugestões, elogios, matemática, topologia geral';

  $this->headTitle( $g_title );
?>

<p>
  O projeto do livro <q>Topologia Geral por Vários Ângulos</q> possui uma
  lista de discussão. Uma lista de discussão é uma maneira simples
  e eficiente para comunicação entre um grupo de pessoas com algum
  objetivo comum.
  <span class="emphasis">Veja como se inscrever ao final desta página.</span>
</p>

<p>
  A princípio, uma lista de discussão é simplesmente um endereço de
  e-mail tal que toda mensagem enviada é replicada para todos
  os inscritos. O que faz da lista uma boa ferramenta é o <b>uso que se
  faz dela</b>. Deve-se ter sempre em mente que:
</p>
<ul>
  <li>
    As mensagens ficam armazenadas para referência futura.
  </li>
  <li>
    Várias pessoas podem estar acompanhando a discussão.
    Não apenas as que estão de fato discutindo.
  </li>
  <li>
    A pessoa que iniciou a discussão pode não ser um membro
    da lista. Pessoas não inscritas também podem enviar
    e-mails para a lista.
  </li>
  <li>
    A lista não server para troca de arquivos, a menos que
    sejam em formato <q>texto puro</q>.
  </li>
</ul>


<p>
  Seria bacana se todos seguissem algumas regras básicas: :-) <br />
  (Por enquanto, dei uma resumida básica nesta lista de regras.)
</p>


<dl>
  <dt>Coloque um <strong>ASSUNTO</strong> descritivo</dt>
  <dd>
    Não escreva mensagens sem o campo <q>assunto</q> ou com
    assuntos no estilo:
    <ul>
      <li>Por favor, ajude!</li>
      <li>Dúvida.</li>
    </ul>
  </dd>

  <dt>Use <strong>RESPONDER A TODOS</strong></dt>
  <dd>
    Então, você recebeu uma mensagem da lista e resolveu participar da
    discussão respondendo-a. Suponha, também, que a mensagem é uma sugestão
    enviada por algum leitor que não está inscrito na lista.
    Lembre-se que no livro tem orientações aos leitores para que enviem
    um e-mail para o endereço da lista sempre que tiverem sugestões.
    Um leitor que seguir esta orientação não é necessariamente um
    indivíduo inscrito para receber mensagens postadas na lista.
  </dd>

  <dd>
    Portanto, se sua intenção é <strong>responder a todos</strong> os
    participantes, utilize no seu aplicativo de e-mail a opção
    <q>responder a todos</q>, ou equivalente. =o)
  </dd>

  <dd>
    Se sua intenção é responder à mensagem de modo privado, ou seja,
    responder apenas para o remetente da mensagem original, então
    utilize no seu aplicativo de e-mail a opção <q>responder</q>,
    ou equivalente.
  </dd>


  <dt>Não <q>recilce</q> mensagens</dt>
  <dd>
    Não utilize a opção responder apenas para reaproveitar
    o endereço de e-mail de uma mensagem que não tem nenhuma
    relação com o que você vai escrever. Os aplicativos
    de e-mail mantém um registro de qual mensagem é resposta de
    qual outra. Se você fizer uma associação incorreta os e-mails ficarão
    bagunçados.
  </dd>


  <dt>Utilize <strong>TEXTO PURO</strong></dt>
  <dd>
    Em uma discussão, é importante que possamos identificar e
    contextualizar a informação. Informações puramente vizuais como
    cor, tamanho da letra, negrito, tipo da letra e etc.,
    além de bagunçarem a discussão, não são facilmente interpretadas
    por programas. Por exemplo, a maioria dos aplicativos de e-mail
    sabe reconhecer o que é texto copiado da mensagem anterior,
    e o que é texto novo. Mensagens cheias de <q>fru-fru</q> são
    ruins para a organização de uma discução. Se você se preocupa com
    o fluxo da informação e a organização de determinado tópico
    da discussão, então deve se preocupar em fazer a
    <a href="http://en.wikipedia.org/wiki/Posting_style#Interleaved_style">citação inline</a> [Inglês]
    corretamente, e eliminar da mensagem conteúdos irrelevantes.
  </dd>


  <dt>Utilize <strong>CITAÇÃO INLINE</strong></dt>
  <dd>
    Ao invés de cegamente copiar todo o conteúdo da mensagem a qual
    se está respondendo ao final do e-mail, você poderia dispensar
    algum tempo, em consideração aos demais leitores da lista,
    para fazer a gentileza de mostrar a eles exatamente a qual parte
    da mensgem original você está se referindo. O seguinte artigo da
    wikipédia, apesar de estar em inglês, pode ser utilizado como
    referência:
    <a href="http://en.wikipedia.org/wiki/Posting_style#Interleaved_style">como
    organizar a resposta a um e-mail</a> [inglês].
  </dd>


  <dt>Não envie arquivos binários</dt>
  <dd>
    A lista não é mecanismo de troca ou distribuição de arquivos.
    Não mande arquivos binários para a lista. É muito inconveniente
    fazer uma discussão se referindo a alguma parte de um arquivo
    .tar.gz, .zip, .pdf, .odt ou semelhantes. Primeiramente, porque
    não dá pra facer a <i>citação inline</i>. Outra coisa é que várias
    versões de um mesmo arquivo binário começam a circular e depois de
    um tempo ninguém sabe mais qual é a versão mais atual, se é que
    existe uma!
  </dd>


  <dt>Não configure <q>mensagens de férias</q></dt>
  <dd>
    É uma coisa ridícula. ;-)
  </dd>


  <dt>Não envie mensagens confidenciais</dt>
  <dd>
    Qualquer um pode ver o que é postado na lista.
    Em especial, e-mails com textos no estilo
    <blockquote>
      <p>
        Este e-mail é confidencial e de uso exclusivo do destinatário.
        Seu conteúdo não deve ser revelado a terceiros.
        Caso você não seja o destinatário, por favor notifique o remetente
        e elimine esta mensagem imediatamente.
      </p>
    </blockquote>
    são impróprios.
    (além de ser uma coisa ridícula de se enviar para uma lista de discussão)
  </dd>


<!--
  <dt>Não inicie uma discussão sobre <q>reply-to</q></dt>
  <dd>
    Em algumas listas de discussão, a lista é configurada para que
    todas as respostas sejam encaminhadas automaticamente para a
    lista. Essa discussão já foi feita em larga escala internet
    a fora. Eis alguns problemas com esse tipo de configuração.
    <dl>
      <dt>
        Você pode divulgar acidentalmente uma conversação privada.
      </dt>
      <dd>
        Quando participamos de uma lista de discussão pública, nosso
        tom na conversa é diferente de quando falamos privadamente.
        Pode ser bastante constrangedor tanto para o destinatário
        quanto para o autor da mensagem, mas pode ser também
        constrangedor para um terceiro que pode se sentir ofendido
        ou agredido pelo conteúdo da mensagem privada.
      </dd>

      <dt>
        A utilidade do reply-to é parcialmente eliminada.
      </dt>
      <dd>
        O reply-to serve para que o <strong>AUTOR</strong> da mensagem possa
        especificar o e-mail para o qual prefere que as respostas sejam
        enviadas. Se o reply-to for adulterado e as pessoas ensinadas a
        utilizar o reply-to para responder para lista e o endereço original
        do autor para responder pessoalmente, a utilidade original do
        reply-to desaparece.
      </dd>

      <dt>
        As respostas vão apenas para a lista e não para o autor da mensagem original
      </dt>
      <dd>
        Por vezes, como já foi explicado, o autor da mensagem que está sendo
        respondida não está inscrito na lista. Assim, independentemente do
        reply-to, quando se deseja <strong>responder a todos</strong>, deve-se
        utilizar a opção <q>responder a todos</q>. Quando se adultera o reply-to
        dos e-mails, estamos incentivando que não se utilize a opção
        <q>reponder a todos</q>, mas sim a opção <q>responder</q>.
        Em suma, configurar o aplicativo da lista de discussão para adulterar
        o reply-to só faz sentido quando a lista está sendo utilizada
        de maneira incorreta!
      </dd>
    </dl>
  </dd>

  <dd>
    As <strong>vantagens</strong> de se configurar a lista com
    o <q>reply-to</q> são:
    <ul>
      <li>
        Usuários da lista que estão <strong>mal-orientados</strong>,
        podem acabar respondendo uma mensagem <strong>apenas</strong>
        ao remetente da mensagem original, quando sua intensão era a
        de responder para todos.
      </li>
      <li>
        Só!
      </li>
    </ul>
  </dd>

  <dd>
    Em suma, modificar o <q>reply-to</q> das mensagens é simplesmente
    uma maneira de se evitar o trabalho de ter que ensinar os usuários
    como se utiliza uma lista de discussão. Se incentivarmos o uso
    do <q>reply-to</q>, estaremos, por exemplo, incentivando que não se
    utilize o <q>responder a todos</q> e consequentemente iviabilizando
    a possiblidade de um não inscrito participar de uma discussão que
    ele mesmo iniciou!
  </dd>
-->
</dl>

<p>
  Leituras recomendadas:
</p>

<ul>
  <li>
    <a href="http://www.unicom.com/pw/reply-to-harmful.html">Sobre a
    adulteração do <q>reply-to</q></a> [inglês].
  </li>
  <li>
   <a href="http://en.wikipedia.org/wiki/Posting_style">Maneiras de se
   fazer citação em e-mails</a> [inglês].
  </li>
</ul>

<p>
  Para se inscrever ou desinscrever, visite a
  <a href="http://lists.ourproject.org/cgi-bin/mailman/listinfo/topologia-geral-discussion">página da lista</a>
  e siga as instruções. Ao se inscrever você receberá um e-mail com
  explicações sobre como se desinscrever e outras coisas. Por favor,
  se você não tem familiaridade com listas de discussão, leia o e-mail.
  Quando precisar de alguma coisa como suspender a lista temporariamente
  ou outra coisa, lembre-se de consultar o e-mail com explicações.
</p>
