<?php
  $layout = $this->layout();

  $layout->start = '/';
  $layout->prev = 'how_to_help';
  $layout->next = 'source_code';

  $g_title = 'Download do Livro';
  $layout->description = 'Baixar o livro Topologia Geral por Vários Ângulos.';
  $layout->keywords = 'matemática, topologia geral, espaço topológico, espaços topológicos, download, baixar, pdf';

  $this->headTitle( $g_title );


  $normal_url_html          = htmlspecialchars( 'get_pdf.php?versao=normal' );
  $frente_e_verso_url_html  = htmlspecialchars( 'get_pdf.php?versao=frente_e_verso' );
  $letras_grandes_url_html  = htmlspecialchars( 'get_pdf.php?versao=letras_grandes' );
  $economico_url_html       = htmlspecialchars( 'get_pdf.php?versao=economico' );
  $muito_economico_url_html = htmlspecialchars( 'get_pdf.php?versao=muito_economico' );

  require_once ( 'pdf_ids.php' );
  $release_title_html       = htmlspecialchars( "$release_version ($release_date_string)" );
  $release_description_html = htmlspecialchars( $release_description );
  $release_todo_html        = htmlspecialchars( $release_todo );
?>

<p>
  Esta página contém um link para a versão mais nova do
  livro de matemática <i>Topologia Geral por Vários Ângulos</i> em
  vários formatos. O livro é licenciado sob os termos da
  licença
  <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
  Commons Attribution-Share Alike 3.0</a>.
</p>

<dl class="release_info">
  <dt><span class="emphasis">Versão:</span> <?= $release_title_html ?></dt>

  <dd>
    <?= $release_description_html ?>
  </dd>

  <dd>
    <span class="emphasis">Pendências:</span>
    <pre><?= $release_todo_html ?></pre>
  </dd>
</dl>

<dl>
  <dt>Versão Normal</dt>

  <dd>
    Versão sem grandes alterações. Tamanho da letra 12pt e papel A4.
  </dd>

  <dd>
    Download: <a href="<?= $normal_url_html ?>">PDF da versão normal</a>.
  </dd>


  <dt>Letras Grandes</dt>

  <dd>
    Versão com letras maiores para facilitar a leitura. Tamanho da letra 14pt e papel A4.
  </dd>

  <dd>
    Download: <a href="<?= $letras_grandes_url_html ?>">PDF da versão com letras grandes</a>.
  </dd>


  <dt>Para Impressão Frente-e-Verso</dt>

  <dd>
    Como a versão normal, mas com margens alinhadas para impressão
    frente-e-verso. Tamanho da letra 12pt e papel A4.
  </dd>

  <dd>
    Download: <a href="<?= $frente_e_verso_url_html ?>">PDF da versão para impressão frente-e-verso</a>.
  </dd>


  <dt>Econômico</dt>

  <dd>
    Com letras e margens menores para economizar papel.
    Tamanho da letra 10pt, margens de 2.5cm e papel A4.
  </dd>

  <dd>
    Download: <a href="<?= $economico_url_html ?>">PDF da versão econômica</a>.
  </dd>


  <dt><strong>MUITO</strong> Econômico</dt>

  <dd>
    Com margens menores e letras ultra pequenas para economizar papel.
    Não recomendamos a utilização desta versão. Mas se você realmente quiser...
    Tamanho da letra 9pt, margens de 2.5cm e papel A4.
  </dd>

  <dd>
    Download: <a href="<?= $muito_economico_url_html ?>">PDF da versão MUITO econômica</a>.
  </dd>


  <dt>Versões Antigas</dt>

  <dd>
    Para versões antigas do livro, consulte o repositório do OurProject.org.
  </dd>

  <dd>
    <a href="http://ourproject.org/frs/?group_id=914">Repositório de arquivos no OurProject.org</a>.
  </dd>
</dl>
