<?php
  $layout = $this->layout();

  $layout->start = '/';
  $layout->prev = 'a_free_book';
  $layout->next = 'download';

  $g_title = 'Como Ajudar';
  $layout->description = 'Como ajudar na produção, na melhora e na divulgação do livro "Topologia Geral por Vários Ângulos".';
  $layout->keywords = 'matemática, topologia geral, projeto, correções, melhorias, ajuda';

  $this->headTitle( $g_title );
?>
<h2>
  Divulgando
</h2>

<p>
  A melhor maneira de ajudar, é repassando este livro para o maior
  número de pessoas! Quanto mais pessoas tiverem interesse no
  livro, maiores serão as chances de se atingir um bom nível de
  qualidade. De modo totalmente oposto ao que acontece usualmente,
  quando alguém compartilha esse livro, essa pessoa, ao invés de
  se sentir uma criminosa, pode se sentir <b>ajudando</b>!
</p>



<h2>
  Com Críticas, Sugestões e Elogios
</h2>

<p>
  Críticas, sugestões e principalmente elogios, são bem-vindos,
  e devem ser encaminhados preferencialmente para o e-mail
  <a href="mailto:topologia-geral-discussion@lists.ourproject.org">topologia-geral-discussion@lists.ourproject.org</a>.
  Toda pessoa interessada em participar de discussões
  relacionadas ao livro <i>Topologia Geral por Vários Ângulos</i>
  pode se inscrever na lista de discussão e receber uma cópia de
  todas as mensagens enviadas para o e-mail acima.
</p>



<h2>
  Com Correções
</h2>

<p>
  Correções também podem ser enviadas para o e-mail
  <a href="mailto:topologia-geral-discussion@lists.ourproject.org">topologia-geral-discussion@lists.ourproject.org</a>.
  Ao invés de dizer <q>existe um problema assim e assado
  em tal lugar</q>, é mais interessante que seja enviado um
  <q>patch</q> do arquivo do código-fonte onde o erro se encontra.
  Ou seja, o ideal é que o colaborador faça o
  <a href="source_code">download do código-fonte</a>
  da versão mais atual do livro através do aplicativo
  <a href="">Mercurial</a>,
  modifique o(s) arquivo(s) com problema(s)
  e envie por e-mail o arquivo <code>patch.txt</code> produzido
  pelo seguinte comando:
  <code class="terminal">
    <span class="prompt">usuario@debian:~/topologia-geral$</span>
    hg diff > ../patch.txt
  </code>
  Lembre-se que o código-fonte é <strong>todo feito na codificação
  UTF-8</strong>. Não utilize com Latin1 ou coisa do tipo!
  Vamos ajudar a livrar o mundo desse tipo de praga! =P
</p>



<h2>
  Com Figuras
</h2>

<p>
  Um dos pontos fracos do livro é sem dúvida a qualidade das
  figuras e o senso estético do autor. Se você tem capacidade
  para fazer figuras melhores, serão (provavelmente) muito
  bem-vindas. Suas figuras deverão ser licenciadas sob os
  mesmos termos que o restante do projeto.
</p>

<p>
  Existe uma grande preocupação com liberdade na elaboração
  deste material. Assim, é importante que as figuras estejam
  em formatos <q>abertos</q> (eu diria formatos livres).
  Em particular, arquivos específicos de aplicativos como
  Corel Draw, Photoshop e semelhantes serão <b>MUITO
  mal-vindos</b>. Em princípio os arquivos devem estar no
  formato
  <a href="http://en.wikipedia.org/wiki/Scalable_Vector_Graphics">SVG</a>.
  O aplicativo mais conhecido para manipulação desse tipo de
  imagem é o
  <a href="http://www.inkscape.org/">Inkscape</a>.
</p>



<h2>
  Com Novas Seções, Capítulos, Partes, etc.
</h2>

<p>
  É importante observar que existe um elemento de
  <i>gosto pessoal</i> envolvido na decisão sobre o que
  incluir ou não no livro. Eu (André Caldas), ainda não sei
  o quão disposto a incluir contribuições de terceiros no
  projeto. De qualquer forma, o livro é <b>livre</b> e isso
  significa que qualquer um é bem-vindo para criar sua versão
  derivativa. Se você acha que deveria haver um capítulo que
  eu não quis incluir, você tem toda a liberdade para fazer
  sua própria versão, com o seu novo capítulo.
</p>

<p>
  Que quiser contribuir com esse tipo de material deve ser
  familiarizado com o sistema
  <a href="http://en.wikipedia.org/wiki/LaTeX">LaTeX</a>
  para produção de documentos.
  Além disso, o mesmo estilo utilizado nos demais arquivos
  deve ser adotado. A linguagem TeX incentiva o uso de muitas
  gambiarras, variáveis globais e etc. Deve-se evitar esse tipo
  de prática a todo custo. Comandos de formatação dentro do
  texto também não são boa coisa. A informação deve
  preferencialmente ser identificada e a formatação deve ser
  feita em um arquivo separado. Por exemplo, ao invés de se
  escrever <code>\mathbb{R}</code>, deve-se escrever simplesmente
  <code>\reals</code> e definir em algum lugar
  (no arquivo <code>definitions.tex</code>) que o significado
  do comando <code>\reals</code> é exatamente
  <code>\mathbb{R}</code>.
</p>



<h2>
  Com um Belo Layout para o Website do Projeto
</h2>

<p>
  Se você é bom com desenho de websites e quiser contribuir,
  pode fazer uma folha de estilo e imagens e enviar pro projeto.
  Por enquanto, o que temos de layout está aqui:
  <a href="layout/">elementos de layout do site</a>. As imagens
  devem estar no formato SVG ou PNG. Qualquer contribuição ao
  website deve ser licenciada sob os mesmos termos do restante do
  projeto. Ou seja, sob os termos da licença
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
  Commons Attribution-Share Alike 3.0</a>.
</p>

<p>
  O website hospedado em
  <a href="http://topologia-geral.ourproject.org/">http://topologia-geral.ourproject.org/</a>
  também está disponível no
  <a href="http://ourproject.org/scm/?group_id=914">repositório do projeto</a>.
  Se você sabe como utilizar o aplicativo Mercurial, pode
  utilizá-lo para desenvolver sua versão modificada e depois
  enviar pra gente.
</p>
