<?php
  $layout = $this->layout();

  $layout->start = '/';
  $layout->prev = NULL;
  $layout->next = 'a_free_book';

  $g_title = 'Livro sobre Topologia';
  $layout->description = 'Livro de matemática sobre espaços topológicos: "Topologia Geral por Vários Ângulos". O livro é LIVRE: pode ser baixado e compartilhado de acordo com os termos da licença CC-BY-SA 3.0.';
  $layout->keywords = 'topologia, matemática, topologia geral, espaço topológico, espaços topológicos, livro, livro de topologia, download, pdf';

  $layout->page_head = 'O Livro';

  $this->headTitle( $g_title );
?>
<p>
  Este é o site oficial do livro de matemática
  <q>Topologia Geral por Vários Ângulos</q>.
  Inspirado no ideal do
  <a href="http://www.gnu.org/philosophy/free-sw.pt-br.html">software livre</a>,
  o livro <q>Topologia Geral por Vários Ângulos</q> é <b>livre</b>.
  Este site explica melhor a questão do <q>conhecimento livre</q> e
  as motivações do autor para tornar este livro --
  e provavelmente todos os que vier a escrever -- livre.
  No site temos a versão em PDF do livro em vários layouts diferentes.
  Aqui você pode ter acesso a todo o código-fonte do livro para
  criar sua própria versão derivativa.
</p>

<p>
  O propósito deste projeto é o de produzir um livro de matemática
  sobre o assunto topologia geral.
</p>



<h2>
  O que é topologia geral?
</h2>

<p>
  O objeto de estudo são os <em>espaços topológicos</em>,
  que são espaços onde se pode tratar das noções
  de convergência e continuidade.
  Uma métrica abstrai em <em>espaços métricos</em>
  a noção de distância que -- dentre outras coisas -- nos
  permite dizer quando uma sequência de pontos se aproxima
  de algum lugar, quando uma função é contínua ou quando
  há <i>saltos</i>. Para esses conceitos, no entanto, a
  métrica não é de fato necessária. Para saber se uma
  sequência converge ou não para um determinado ponto,
  não estamos de fato interessados no valor numérico
  da distância entre os pontos da sequência e o ponto
  limite. Precisamos apenas de uma noção do que vem a ser
  <strong><q>arbitrariamente próximo</q></strong>.
  A topologia geral estuda esse tipo de estrutura.
  O nome da estrutura é <q>topologia</q>,
  e os conjuntos munidos de uma topologia são
  os <em>espaços topológicos</em>.
  Assim como os espaços métricos são
  conjuntos dotados de uma noção de distância -- uma métrica --,
  os espaços topológicos são dotados de uma noção de
  <q>proximidade</q> -- uma topologia!
</p>

<p>
  Os espaços topológicos são mais gerais que os espaços métricos,
  pois todo espaço métrico é dotado de uma topologia natural.
  Quando eliminamos informações irrelevantes, por vezes
  conseguimos uma teoria muito mais elegante e que de
  fato expõe mais informações sobre a natureza do problema
  em questão. Argumentos de topologia geral são utilizados
  em vários campos da matemática, como análise funcional,
  grupos topológicos, geometria e até mesmo álgebra.
</p>

<p>
  O mais comum,
  ao se estudar os espaços topológiocos,
  é tratar dos conjuntos abertos.
  No entanto,
  a estrutura topológica pode ser descrita de outras maneiras,
  usando a noção de <em>conjunto fechado</em>,
  <em>vizinhança de um ponto</em>,
  noção de <em>fecho de um conjunto</em>,
  noção de <em>interior de um conjunto</em>,
  <em>convergência de redes</em>,
  <em>ultrafiltros</em>,
  etc.
  O objetivo deste livro é que o leitor
  conheça diferentes ferramentas para que escolha
  a que melhor se adequa ao problema que está tratando.
</p>

<p>
  O livro <i>Topologia Geral por Vários Ângulos</i> introduz os
  conceitos básicos e motivações para a topologia geral através
  de um estudo introdutório sobre espaços métricos. No entanto,
  houve a preocupação de não tratar de nenhum assunto sobre
  espaços métricos que não fosse útil para motivar os conceitos
  gerais que viriam a seguir. A parte de espaços métricos é
  bastante fácil e é rapidamente deixada para trás. Uma outra
  virtude deste livro é o fato de apresentar várias maneiras
  alternativas de se olhar para a topologia de um espaço.
  Muitas vezes se vê por aí argumentos excessivamente complicados
  causados pela falta de conhecimento dessas alternativas.
  Se vê muita argumentação (padronizada), utilizando conjuntos
  abertos quando outros tipos de argumento (com redes ou
  vizinhanças) seriam muito mais adequados. Em análise funcional,
  por exemplo, por vezes, ao invés de demonstrar que determinado
  conjunto é aberto, bastaria mostrar que tem interior não vazio.
</p>
