<?php
  $layout = $this->layout();

  $layout->start = '/';
  $layout->prev = 'discussion_list';
  $layout->next = 'links';

  $g_title = 'Licença de Uso';
  $layout->description = 'Explicação sobre a licença sob a qual o livro "Topologia Geral por Vários Ângulos" é licenciado.';
  $layout->keywords = 'matemática, topologia geral, projeto, licença, licenciamento, copyright';
?>
<p>
  O livro <i>Topologia Geral por Vários Ângulos</i> é licenciado sob os termos
  da licença
  <span class="cc_license_block">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img
      alt="Creative Commons License" style="border-width:0"
      src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
      Commons Attribution-Share Alike 3.0</a>.
  </span>
</p>

<p>
  Desde que os termos da licença sejam respeitados, você
  pode, por exemplo:
</p>

<ul>
  <li>Vender ou distribuir versões impressas.</li>
  <li>Vender ou distribuir versões eletrônicas.</li>
  <li>Fazer cópias.</li>
  <li>Imprimir.</li>
  <li>Compartilhar usando a internet.</li>
  <li>Ler em voz alta. :-)</li>
</ul>
