<?php
  $layout = $this->layout();

  $layout->start = '/';
  $layout->prev = 'license';
  $layout->next = NULL;

  $g_title = 'Links Relacionados com o Projeto';
  $layout->description = 'Links relacionados com a filosofia de "liberdade do conhecimento"';
  $layout->keywords = 'matemática, topologia geral, liberdade, liberdade do conhecimento, direito autoral, copyright';

  $this->headTitle( $g_title );
?>
<dl>
  <dt>O Direito de Ler</dt>

  <dd>
    É um texto fictício do Richard Stallman que fala sobre os
    conflitos causados pela distorção de valores como o
    compartilhamento do conhecimento e da informação.
  </dd>

  <dd>
    <ul>
      <li>Link: <a href="http://www.gnu.org/philosophy/right-to-read.pt-br.html"><q>O direito de ler</q> em português</a>.</li>
      <li>Link: <a href="http://www.gnu.org/philosophy/right-to-read.html"><q>O direito de ler</q> em inglês</a>.</li>
    </ul>
  </dd>


  <dt>OurProject.org</dt>

  <dd>
    Este é o site que hospeda o projeto do livro
    <i>Topologia Geral por Vários Ângulos</i>.
    O OurProject.org tem como objetivo promover e dar suporte
    a trabalhos colaborativos do mundo inteiro.
  </dd>

  <dd>
    <ul>
      <li>Link: <a href="http://ourproject.org/">website do OurProject.org</a>.</li>
      <li>Link: <a href="http://ourproject.org/docman/view.php/1/19/file19.html">manifesto (em inglês)</a>.</li>
      <li>Link: <a href="http://ourproject.org/docman/view.php/1/39/file39.html">manifesto (em espanhol)</a>.</li>
      <li>Link: <a href="http://ourproject.org/projects/topologia-geral/">Livro -
        <i>Topologia Geral por Vários Ângulos</i></a>.</li>
    </ul>
  </dd>


  <dt>Sita Sing's the Blues</dt>

  <dd>
    Uma animação de 1h20min feita por Nina Paley que lhe causou
    grandes problemas, pois as letras de músicas da década de 20
    usadas em sua animação ainda estavam
    sob proteção de direitos autorais de certas empresas como
    a Warner, a EMI e a Sony. É interessante notar que as gravações
    na voz de
    <a href="http://en.wikipedia.org/wiki/Annette_Hanshaw">Annette
    Hanshaw</a> já estavam em domínio público, as as letras das
    músicas não. Com
    excessão dessas músicas, o longa é livre e pode ser baixado,
    compartilhado e modificado. Nina Paley hoje é defensora da
    cultura livre. O DVD de <i>Sita Sings the Blues</i> inclui
    entrevistas onde ela fala de sua trajetória.
  </dd>

  <dd>
    <ul>
      <li>Link: <a href="http://www.sitasingstheblues.com/">website oficial do vídeo <q>Sita Sings the Blues</q></a>.</li>
      <li>Link: <a href="http://github.com/fczuardi/sita/raw/c03bb01876a64a5375b7cf4284720712be533f85/subtitles/Sita_Sings_The_Blues_PT_BR.srt">legendas em portugês de <q>Sita Sings the Blues</q></a>.</li>
      <li>Link: <a href="http://en.wikipedia.org/wiki/Nina_Paley">artigo na Wikipedia sobre Nina Paley</a>. (em inglês)</li>
      <li>Link: <a href="http://www.youtube.com/results?search_query=Nina+Paley">Vídeos no YouTube</a>.</li>
      <li>Link: <a href="http://blog.ninapaley.com/">Blog da Nina Paley</a>.</li>
    </ul>
  </dd>



  <dt>QuestionCopyright.org</dt>

  <dd>
    Entidade que busca difundir a idéia de que o monopólio sobre
    o conhecimento e a produção cultural é prejudicial para a
    sociedade. Nina Paley é uma das integrantes.
  </dd>

  <dd>
    O QuestionCopyright.org também propõe alternativas ao monopólio
    do direito de cópia e distribuição. Como o
    <a href="http://questioncopyright.org/creator_endorsed">selo de
    <b>endosso do criador</b></a>: uma garantia de que, por exemplo,
    parte da renda será repassada ao criador da obra.
  </dd>

  <dd>
    <ul>
      <li>Link: <a href="http://questioncopyright.org/">website do QuestionCopyright.org</a>.</li>
      <li>Link: <a href="http://questioncopyright.org/minute_memes/cint_release">Copiar não é roubar</a>. (animação curta de Nina Paley)</li>
      <li>Link: <a href="http://www.youtube.com/watch?v=R1QnXJYT9ao">Copiar não é roubar: legendado</a>. (legenda em português)</li>
      <li>Link: <a href="http://questioncopyright.org/creator_endorsed">Selo de endosso do criador</a>. (em inglês)</li>
    </ul>
  </dd>
</dl>
