<?php
  $layout = $this->layout();

  $layout->start = '/';
  $layout->prev = 'download';
  $layout->next = 'discussion_list';

  $g_title = 'Código-Fonte do Livro';
  $layout->description = 'Como obter o código-fonte do livro "Topologia Geral por Vários Ângulos".';
  $layout->keywords = 'matemática, topologia geral, código-fonte, repositório, download, arquivos latex, figuras do livro';

  $this->headTitle( $g_title );
?>
<p>
  O código-fonte do livro <i>Topologia Geral por Vários Ângulos</i>
  consiste dos arquivos latex, as imagens no formato
  <acronym lang="en" title="Scalable Vector Graphics">SVG</acronym>
  e os scripts para geração dos arquivos
  <acronym lang="en" title="Portable Document Format">PDF</acronym>.
</p>

<p>
  O código-fonte,
  está hospedado em um
  <a href="https://bitbucket.org/andrecaldas/topologia-geral">repositório no BitBucket</a>.
</p>

<p>
  Para fazer o download utilizando o aplicativo Mercurial,
  assumindo que o Mercurial já está instalado no seu computador,
  basta usar o seguinte comando:
  <code class="terminal">
    <span class="prompt">usuario@debian:~$</span>
    hg clone https://bitbucket.org/andrecaldas/topologia-geral
  </code>
  Este comando irá criar o diretório <code>topologia-geral</code>
  e baixar a versão mais nova do código-fonte nesse novo diretório.
</p>
