<?php
  $standard_title   = 'Topologia Geral por Vários Ângulos';
  $this->headTitle()->append( $standard_title );

  $layout = $this->layout();

  $title_html       = $this->headTitle();
  $description_html = htmlspecialchars( $layout->description );
  $keywords_html    = htmlspecialchars( $layout->keywords );
  $language_html    = htmlspecialchars( 'pt-br' );

  $page_contents_html = $this->layout()->content;

  require_once ( 'parts/footer.php' );
  require_once ( 'parts/news.php' );

  if ( !isset($layout->page_head) )
  {
    $layout->page_head = '';

    $request = Zend_Controller_Front::getInstance()->getRequest();
    $page_uri = $request->getParam( 'page' );

    $navigation = $this->navigation();
    $page = $navigation->findOneBy( 'uri', $page_uri );

    assert( 'NULL != $page' );
    if ( NULL != $page )
    {
      $layout->page_head = $page->getLabel();
    }
  }
  $page_head_html = htmlspecialchars( $layout->page_head );
?>
<?= $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">

  <head>
    <?= $title_html ?>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="start" href="/" title="Site do Livro" />
    <?php
      if ( NULL != $layout->prev )
      {
        $item = $this->navigation()->findOneBy( 'uri', $layout->prev );

        $item_url_html = htmlspecialchars($item->get('uri'));
        $item_title_html = htmlspecialchars($item->get('label'));
        ?>
          <link rel="prev" href="<?= $item_url_html ?>" title="<?= $item_title_html ?>" />
        <?php
      }
    ?>
    <?php
      if ( NULL != $layout->next )
      {
        $item = $this->navigation()->findOneBy( 'uri', $layout->next );

        $item_url_html = htmlspecialchars($item->get('uri'));
        $item_title_html = htmlspecialchars($item->get('label'));
        ?>
          <link rel="next" href="<?= $item_url_html ?>" title="<?= $item_title_html ?>" />
        <?php
      }
    ?>

    <link rel="stylesheet" type="text/css" href="<?= $this->baseUrl('layout/main.css')?>" />

    <meta name="description" content="<?= $description_html ?>" />
    <meta name="keywords" content="<?= $keywords_html ?>" />
    <meta name="language" content="<?= $language_html ?>" />
  </head>

  <body>
    <?php
      render_news( '<div id="news">', '</div>' );
    ?>

    <div id="menu">
      <?= $this->navigation()->menu(); ?>
    </div>

    <div id="main_content">
      <h1><?= $page_head_html ?></h1>
      <?= $page_contents_html ?>
    </div>

    <div id="footer">
      <?php
        render_footer();
      ?>
    </div>
  </body>
</html>
